@plugin "daisyui";
@import "tailwindcss";

/* navbar */
.dark .nav-nav {
  background-color: #0c0c0c;
  color: #f8f9fc;}
  /* all articals */
  .dark .all-artical {
   background-color: #0c0c0c;

  }
   .dark .all-artical .h2-title{
 
  color: #d7e17b;
} 
.dark  #root{
  background-color: black;
}
